.space {
  display: inline-block;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 20vh;
  background-color: #0000000f;
  border-radius: 50px;
  padding: 40px;
}

.loginConatiner {
  width: 100%;
  height: 100vh;
  background-color: #faebd7;
}

.loginConatiner .loginInput {
  margin: 20px 0;
  color: #fff !important;
  font-size: 1em;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #00000025;
  width: 80%;
  text-align: center;
}

.loginConatiner .loginInput::placeholder {
  color: #fff !important;
}
